
<!DOCTYPE html>
<html style="margin: 0; height: 100%;">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/angular-animate/angular-animate.min.js"></script>
        <script src="/lib/angular-aria/angular-aria.min.js"></script>
        <script src="/lib/angular-material/angular-material.min.js"></script>
        <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">

        <title>Social Media App</title>
        <script>var app = angular.module('App', ['ngMaterial', 'ngAnimate']);</script>
        <script src="/controllers/main-app.js"></script>
    </head>
	<body ng-app="App" ng-controller="main-app">
        <md-content layout-padding>
            <div layout="column">
                <md-button ng-click="getGoogleProfiles()">Fetch Google Profiles</md-button>
                <md-button ng-click="getFBPages()">Fetch Facebook Pages</md-button>
            </div>
            <div layout="row">
                <div style="margin-right: 10px;">
                    <div ng-show="googleProfiles.length > 0" style="font-weight: bold; margin-bottom: 10px;">Google Profiles</div>
                    <md-radio-group ng-model="googleProfile">
                        <md-radio-button ng-repeat="profile in googleProfiles" ng-value="profile.id" class="md-primary">{{ profile.name }}</md-radio-button>
                    </md-radio-group>
                </div>
                <div>
                    <div ng-show="fbPages.length > 0" style="font-weight: bold; margin-bottom: 10px;">Facebook Pages</div>
                    <md-radio-group ng-model="fbPage">
                        <md-radio-button ng-repeat="page in fbPages" ng-value="page.id" class="md-primary">{{ page.name }}</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </md-content>
    </body>
</html>
