
<!DOCTYPE html>
<html style="margin: 0; height: 100%;">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/angular-messages/angular-messages.min.js"></script>
        <script src="/lib/angular-animate/angular-animate.min.js"></script>
        <script src="/lib/angular-aria/angular-aria.min.js"></script>
        <script src="/lib/angular-material/angular-material.min.js"></script>
        <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

        <title>Social Media App</title>
        <script>var app = angular.module('App', ['ngMaterial', 'ngAnimate']);</script>
        <script src="/controllers/main-app.js"></script>
    </head>
	<body ng-app="App" ng-controller="main-app">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>
                    <span>Social Media Analytics</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Sign Out" ng-click="logout()">
                    <md-tooltip md-direction="left">Logout</md-tooltip>
                    <md-icon md-font-icon="fa-sign-out" class="fa fa-2x"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" ng-if="!initialised"></md-progress-linear>
        <md-content layout-padding ng-show="initialised">
            <div layout="column">
                <md-button ng-click="test()">Test</md-button>
                <md-button ng-if="!logins.ga" ng-click="gaLogin()">Authenticate with Google</md-button>
                <md-button ng-if="!logins.fb" ng-click="fbLogin()">Authenticate with Facebook</md-button>
            </div>
            <div layout="row">
                <md-input-container ng-show="googleProfiles.length > 0">
                    <label>Google Profile</label>
                    <md-select ng-model="googleProfile">
                        <md-option ng-repeat="profile in googleProfiles" ng-value="profile.id">{{ profile.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-show="fbPages.length > 0">
                    <label>Facebook Page</label>
                    <md-select ng-model="fbPage">
                        <md-option ng-repeat="page in fbPages" ng-value="page.id">{{ page.name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-content>
    </body>
</html>
