<!DOCTYPE html>
<html style="margin: 0; height: 100%;">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/angular-messages/angular-messages.min.js"></script>
        <script src="/lib/angular-animate/angular-animate.min.js"></script>
        <script src="/lib/angular-aria/angular-aria.min.js"></script>
        <script src="/lib/angular-material/angular-material.min.js"></script>
        <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

        <title>Social Media App</title>
        <script>
            var app = angular.module('App', ['ngMaterial', 'ngAnimate']).config(function($mdThemingProvider) {
                $mdThemingProvider.theme('default')
                    .primaryPalette('indigo')
                    .accentPalette('green', {
            			default: '500'
            		});
            });
        </script>
        <script src="/app/js/sma.js"></script>
        <script src="/app/controllers/main-app.js"></script>
        <script src="/app/services/global.js"></script>
        <script src="/app/services/dialogues.js"></script>
        <script src="/app/directives/directives.js"></script>
        <link rel="stylesheet" href="/app/css/main.css">
    </head>
	<body ng-app="App" ng-controller="main-app">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>
                    <span>Social Media Analytics</span>
                </h2>
                <md-button class="md-icon-button" aria-label="Connectivity" ng-click="showConnections($event)">
                    <md-tooltip>Connections</md-tooltip>
                    <md-icon md-font-icon="fa-plug" class="fa fa-2x"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Datasets" ng-click="manageDatasets($event)">
                    <md-tooltip>Datasets</md-tooltip>
                    <md-icon md-font-icon="fa-table" class="fa fa-2x"></md-icon>
                </md-button>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Sign Out" ng-click="logout()">
                    <md-tooltip md-direction="left">Logout</md-tooltip>
                    <md-icon md-font-icon="fa-sign-out" class="fa fa-2x"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" ng-if="!initialised"></md-progress-linear>
        <md-button ng-click="test()">Test</md-button>
        <md-content layout-padding ng-show="initialised">
        </md-content>
    </body>
</html>
