<!DOCTYPE html>
<html style="margin: 0; height: 100%;">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/angular-messages/angular-messages.min.js"></script>
        <script src="/lib/angular-animate/angular-animate.min.js"></script>
        <script src="/lib/angular-aria/angular-aria.min.js"></script>
        <script src="/lib/angular-material/angular-material.min.js"></script>
        <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

        <title>Social Media App</title>
        <script>var app = angular.module('App', ['ngMaterial', 'ngAnimate', 'ngMessages']);</script>
        <script src="/app/controllers/login.js"></script>
        <link rel="stylesheet" href="/app/css/main.css">
    </head>
	<body ng-app="App" ng-controller="login" id="login">
        <md-progress-linear ng-if="loading" md-mode="indeterminate"></md-progress-linear>
        <div>
            <md-tabs class="md-primary" md-dynamic-height>
                <md-tab label="Login">
                    <form name="loginForm" ng-submit="login()" style="margin-top: 20px;">
                        <div layout="row" layout-xs="column" layout-margin>
                            <md-input-container flex>
                                <label>Email</label>
                                <input name="email" required type="email" ng-model="email">
                                <div ng-messages="loginForm.email.$error">
                                    <div ng-message-exp="['email', 'required']">Invalid e-mail format</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Password</label>
                                <input name="password" minlength="8" ng-model="password" required type="password">
                                <div ng-messages="loginForm.password.$error">
                                    <div ng-message-exp="['minlength', 'required']">Password must be at least 8 characters</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-align="center center">
                            <md-button class="md-raised md-primary" type="submit">Login</md-button>
                        </div>
                    </form>
                </md-tab>
                <md-tab label="Register">
                    <form name="registerForm" ng-submit="register()" style="margin-top: 20px;">
                        <div layout="row" layout-xs="column" layout-margin>
                            <md-input-container flex>
                                <label>Name</label>
                                <input ng-model="displayName" required>
                                <div class="hint">Display name for the user in the application</div>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-xs="column" layout-margin>
                            <md-input-container flex>
                                <label>Email</label>
                                <input name="email" ng-model="email" required type="email">
                                <div ng-messages="registerForm.email.$error">
                                    <div ng-message-exp="['email', 'required']">Invalid e-mail format</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Password</label>
                                <input name="password" ng-model="password" minlength="8" required type="password">
                                <div ng-messages="registerForm.password.$error">
                                    <div ng-message-exp="['minlength', 'required']">Password must be at least 8 characters</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-align="center center">
                            <md-button class="md-raised md-primary" type="submit">Register</md-button>
                        </div>
                    </form>
                </md-tab>
            </md-tabs>
        </div>
    </body>
</html>
