<md-dialog aria-label="Connections">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Connections</h2>
            </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" ng-if="loading"></md-progress-linear>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout="row" layout-padding style="background: white;">
                    <md-list ng-if="initialised" layout-align="left">
                        <md-list-item>
                            <p>
                                <md-icon md-font-icon="fa-google" class="fa fa-2x" style="margin-right: 10px;" ng-class="connections.google.name ? 'md-primary' : ''"></md-icon>
                                <md-input-container ng-if="connections.google.name" class="noErrors" style="margin-right: 10px;">
                                    <label>Account</label>
                                    <input ng-model="connections.google.name" aria-label="Account" disabled>
                                </md-input-container>
                            </p>
                            <md-input-container ng-if="connections.google.name" style="min-width: 200px;">
                                <label>Analytics Profile</label>
                                <md-select ng-model="connections.google.profile" aria-label="Profile">
                                    <md-option ng-repeat="profile in connections.google.profiles" ng-value="profile.id">{{ profile.name }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-icon ng-if="connections.google.name" class="fa md-secondary md-warn" md-font-icon="fa-times" ng-click="gaRevoke()" aria-label="Revoke">
                                <md-tooltip md-direction="right">Remove Account</md-tooltip>
                            </md-icon>
                            <md-button ng-if="!connections.google.name" class="md-primary md-raised" ng-click="gaLogin()">Link Account</md-button>
                        </md-list-item>
                        <md-list-item>
                            <p>
                                <md-icon md-font-icon="fa-facebook-official" class="fa fa-2x" style="margin-right: 10px;" ng-class="connections.facebook.name ? 'md-primary' : ''"></md-icon>
                                <md-input-container ng-if="connections.facebook.name" class="noErrors" style="margin-right: 10px;">
                                    <label>Account</label>
                                    <input ng-model="connections.facebook.name" aria-label="Account" disabled>
                                </md-input-container>
                            </p>
                            <md-input-container ng-if="connections.facebook.name" style="min-width: 200px;">
                                <label>Facebook Page</label>
                                <md-select ng-model="connections.facebook.page" aria-label="Profile">
                                    <md-option ng-repeat="page in connections.facebook.pages" ng-value="page.id">{{ page.name }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-icon ng-if="connections.facebook.name" class="fa md-secondary md-warn" md-font-icon="fa-times" ng-click="fbRevoke()" aria-label="Revoke">
                                <md-tooltip md-direction="right">Remove Account</md-tooltip>
                            </md-icon>
                            <md-button ng-if="!connections.facebook.name" class="md-primary md-raised" ng-click="fbLogin()">Link Account</md-button>
                        </md-list-item>
                        <md-list-item>
                            <p>
                                <md-icon md-font-icon="fa-twitter" class="fa fa-2x" style="margin-right: 10px;" ng-class="connections.twitter.name ? 'md-primary' : ''"></md-icon>
                                <md-input-container ng-if="connections.twitter.name" class="noErrors" style="margin-right: 10px;">
                                    <label>Account</label>
                                    <input ng-model="connections.twitter.name" aria-label="Account" disabled>
                                </md-input-container>
                            </p>
                            <md-button ng-if="!connections.twitter.name" class="md-primary md-raised" ng-click="twitterLogin()">Link Account</md-button>
                            <md-icon ng-if="connections.twitter.name" class="fa md-secondary md-warn" md-font-icon="fa-times" ng-click="twitterRevoke()" aria-label="Revoke">
                                <md-tooltip md-direction="right">Remove Account</md-tooltip>
                            </md-icon>
                        </md-list-item>
                        <md-list-item>
                            <p>
                                <md-icon md-font-icon="fa-database" class="fa fa-2x" style="margin-right: 10px;" ng-class="connections.postgre.name ? 'md-primary' : ''"></md-icon>
                                <md-input-container ng-if="connections.postgre.name" class="noErrors" style="margin-right: 10px;">
                                    <label>Databse</label>
                                    <input ng-model="connections.postgre.db" aria-label="Database" disabled>
                                </md-input-container>
                            </p>
                            <md-input-container ng-if="connections.postgre.name" style="min-width: 200px;">
                                <label>Schema</label>
                                <md-select ng-model="connections.postgre.schema" aria-label="Profile">
                                    <md-option ng-repeat="schema in connections.postgre.schemas">{{ schema }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-button ng-if="!connections.postgre.name" class="md-primary md-raised" ng-click="dbConfig($event)">Configure</md-button>
                            <md-icon ng-if="connections.postgre.name" class="fa md-secondary md-warn" md-font-icon="fa-times" ng-click="dbClear()" aria-label="Revoke">
                                <md-tooltip md-direction="right">Clear Configuration</md-tooltip>
                            </md-icon>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center">
            <md-button ng-click="close()" class="md-primary">Ok</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
