<md-dialog aria-label="Connections">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Connections</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div connections="conns"></div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center">
            <md-button ng-click="close()" class="md-primary">Ok</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
